body {
    font-family: "Alegreya", serif;
    /* font-family: "Poppins", sans-serif; */
    /* background-color: #F3D4A5; */
    background-color: #FEF6DF;
    color: #333;
    text-align: center;
}
.footerbg{
    background-color: #0E2E17;;
}
.font-arvo {
    font-family: "Arvo", serif;
}
.textShadow{
    text-shadow: 0 0 3px #ffd369, 0 0 12px #ff9a3c;
}
.py-90{
    padding: 90px 0px;
}
.pb-90{
    padding-bottom: 90px;
}
.bgcolor{
    background-color: #f3f1eb;
}
.fcolor{
    color: #F3D4A5;
}
.fs{
    font-size: 70px;
}
header {
    width: 100%;
    z-index: 2;
    top: 0px;
    background-color: #0E2E17;
    /* background: rgba(255, 255, 255, 0.1); */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    color: white;
    text-shadow: 0 0 8px #ffd369, 0 0 12px #ff9a3c;
}
.banner {
    background-image: url('../images/banner.png');
    background-size: cover;
    background-position: center;
    height: 750px;
}
.card-my{
    width: 100%;
    height: 500px;
}